body {
    background-color: rgb(197, 253, 234);
}

.header-logo {
    margin-left: 30px;
}

.header-text {
    margin-left: 40px;
    color: azure;
    margin-top: auto;
    margin-bottom: auto;
}

.adminka {
    margin: auto;
    margin-right: 20px; 
}

.adminka a {
    color: azure;
}

.main-wrapper {
    margin-top: 20px;
}

.sidebar1 {
    padding-left: 0px;
    padding-right: 20px;
}

.content1 {
    padding-left: 30px;
}