{% extends "base_templ.html" %}

{% block title %}<title>Домашняя библиотека|Книги</title>{% endblock %}

{% block scc %}{% load static %}<link rel="stylesheet" href="{% static "css/book.css" %}" >{% endblock %}

{% block content %}
<h1>Список всех {{ books|length }} книг</h1>
<div>
    <table class="table">
        <thead>
            <tr>
                <td>Автор</td>
                <td>Название книги</td>
                <td>Изображение</td>
                <td>Описание</td>
                <td>Издательство</td>
                {% comment %}<td></td>{% endcomment %}
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.author.full_name }}</td>
                <td>{{ book.title }}</td>
                <td><img src="/media/{{ book.preview }}" alt="Book picture" width="80px"></td>
                <td>{{ book.description }}</td><td>{{ book.redaction }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}