{% extends "base_templ.html" %}

{% block title %}<title>Домашняя библиотека|Главная</title>{% endblock %}

{% block content %}
<p>Добро пожаловать в {{ title }}.</p>
<p>Тут собрано {{ books|length }} книг из моей личной коллекции.</p>
<p>В {{ title }} есть возможность взять любую книгу почитать, но с условием, 1 книга в 1 руки!</p>
<p>Вернув прочитанную книгу, вы конечно сможете взять другую</p>
</br>
<p>для проверяющего:</p>
<ul class="list-group">
    <li>Вроде все выполнил что есть в звдинии</li>
    <li>Цвета "Вырвиглаз" специально, чтобы видно было что есть CSS</li>
    <li>Отдельный CSS для раздела "Книги", кстати CSS файлы в папке static/css в папке приложения p_library</li>
    <li>слева меню можно перейти в необходимый раздел</li>
    <li>логин/пасс посмотреть админку user/sdfg9876 - <a href="/admin/">админка</a> </li>
    <li>Будут вопросы пиши в слаке @v0land</li>
</ul>

{% endblock %}