{% extends "base_templ.html" %}

{% block title %}<title>Домашняя библиотека|Издательства</title>{% endblock %}

{% block content %}
  <h1 style="text-align: center;">Список издательств</h1>
  <div>
    <ul  class="list-group">
      {% for redaction in redactions %}
        <li class="list-group-item bg-secondary text-white">{{ redaction.red_name }}</li>
          <ul>
            {% for book in books %}
              {% ifequal  book.redaction.red_name redaction.red_name %}
                <li>{{ book.title }}</li>
              {% endifequal %}
            {% endfor %}
          </ul>
      {% endfor %}
    </ul>
  </div>
{% endblock %}